<div class="container mt-3">
  <div class="row">
    <h4>商品編集</h4>
  </div>

  <%= form_with model: @item, url: admin_item_path(@item.id), method: :patch do |f| %>
  <div class="row">
    <div class="col-lg-6 text-left">
      <table class="table table-borderless">
        <tr>
          <td><label for="inputImage">商品画像</label></td>
          <td><%= f.file_field :image, accept: "image/*" %></td>
        </tr>
        <tr>
          <td><label for="inputName">商品名</label></td>
          <td><%= f.text_field :name, autofocus: true, id:"inputName", size: 30 %></td>
        </tr>
        <tr>
          <td><label for="inputIntroduction">商品説明</label></td>
          <td><%= f.text_area:introduction, autofocus: true, id:"inputIntroduction",size: "32x5" %></td>
        </tr>
        <tr>
          <td><label for="inputPrice">税抜価格</label></td>
          <td><%= f.text_field :price, autofocus: true, id:"inputPrice", size: 30 %>円</td>
        </tr>
      </table>
      <div class="text-center">
        <%= f.submit "変更を保存", class: 'btn btn-success' %>
      </div>
    </div>
  </div>

<% end %>