<div class="container mt-3">
  <div class="row">
    <h4>商品新規登録</h4>
  </div>
  
  <%= form_with model: @item, url: admin_items_path, method: :post do |f| %>
  <div class="row m-2">
    <div class="field col-lg-2 text-left">
      <%= f.label :image, "商品画像" %>
    </div>
    <div>
      <%= f.file_field :image, accept: "image/*" %>
    </div>
  </div>
      
  <div class="row m-2">
    <div class="field col-lg-2 text-left">
      <%= f.label :name, "商品名" %>
    </div>
    <div>
      <%= f.text_field :name %>
    </div>
  </div>
  
  <div class="row m-2">
    <div  class="field col-lg-2 text-left">
      <%= f.label :introduction, "商品説明" %>
    </div>
    <div>
      <%= f.text_area :introduction %>
    </div>
  </div>
  
  <div class="row m-2">
    <div  class="field col-lg-2 text-left">
      <%= f.label :price, "税抜価格" %>
    </div>
    <div>
      <%= f.text_field :price %>円 
    </div>
  </div> 
  
  <div class="row m-2 pt-4">
    <div class="col-lg-2 text-left"></div>
    <div class="actions col-lg text-left">
      <%= f.submit '新規登録', class: 'btn btn-success' %>
    </div> 
  
  <% end %>
</div>