<div class="container mt-3">
  <div class="row">
    <h4>商品詳細</h4>
  </div>

  <div class="row">
    <div class="col-lg-3 text-left m-3">
      <%= image_tag @item.get_image, size: "200x200" %>
    </div>

    <div class="col-lg-3 text-left m-3">
      <table class="table table-borderless">
        <tr>
          <td>商品名</td>
          <td><%= @item.name %></td>
        </tr>
        <tr>
          <td>商品説明</td>
          <td><%= @item.introduction %></td>
        </tr>
        <tr>
          <td>
            税込価格<br>
            (税抜価格)
          </td>
          <td>
            <%= number_to_currency(@item.add_tax_price) %>
            (<%= number_to_currency(@item.price) %>)円
          </td>
        </tr>
      </table>
      <div class="text-center">
        <%= link_to "編集する", edit_admin_item_path(@item.id), class: 'btn btn-success' %>
      </div>
    </div>
  </div>
</div>