<div class="container mt-3">
  <div class="row">
    <h4>管理者ログイン</h4>
  </div>
  
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="row m-2">
      <div class="field col-lg-2 text-left">
        <%= f.label :email, "メールアドレス" %>
      </div>
      <div class="field col-lg text-left">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", size: 40 %>
      </div>
    </div>
    
    <div class="row m-2">
      <div class="field col-lg-2 text-left">
        <%= f.label :password, "パスワード" %>
      </div>
      <div class="field col-lg text-left">
        <%= f.password_field :password, autocomplete: "current-password", size: 40 %>
      </div>
    </div>
    
    <div class="row m-2 pt-4">
      <div class="col-lg-2 text-left"></div>
      <div class="actions col-lg text-left">
        <%= f.submit "ログイン", class: 'btn btn-primary' %>
      </div>
    </div>
    <% end %>
  
</div>

<%= render "admin/shared/links" %>
