<div class="container">
  <div class="row m-5  justify-content-center">
    <p class="border py-5 px-2">
      ようこそ、ながのCAKEへ！<br>
      このサイトは、ケーキ販売のECサイトになります。<br>
      会員でない方も商品の閲覧はできますが、<br>
      購入には会員登録が必要になります。
    </p>
  </div>
  
  <div class="row m-5 justify-content-center">
    <div class="col-lg-6">
      <h3>新着商品</h3>
    </div>
  </div>
  
  
  <div class="row m-5 justify-content-center">
    <% @items.each do |items| %>
      <div class="ml-5">
        <%= link_to item_path(items.id) do %>
          <%= image_tag items.get_image, size: "100x100" %>
        <% end %> 
        <p><%= link_to items.name, item_path(items.id) %></p>
        <p>￥<%= number_to_currency(items.add_tax_price) %></p>
      </div>
    <% end %>
  </div>
  
  <divdiv class="row m-5 justify-content-end">
    <%= link_to "全ての商品を見る", items_path %>
  </div>
    
</div>