<div class="container">
  <div class="row m-2">
    <div class="col-lg-6">
      <h4>注文履歴詳細</h4>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-lg-4 text-left">
      <table class="table table-borderless">
        <tr>
          <th>購入者</th>
          <td><%= @order.customer.full_name %></td>
        </tr>
        <tr>
          <th>注文日</th>
          <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
        <tr>
          <th>配送先</th>
          <td>
            <%= '〒' + @order.postal_code %>
            <%= @order.address %> <br>
            <%= @order.name %>
          </td>
        </tr>
        <tr>
          <th>支払方法</th>
          <td><%= @order.payment_method_i18n %></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-lg-6 text-left">
      <table class="table table-borderless">
        <thead class="table-secondary">
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
          <% @order_detail.each do |order_detail| %>
          <tr>
            <td><%= order_detail.item.name %></td>
            <td><%= number_to_currency(order_detail.price) %></td>
            <td><%= order_detail.amount %></td>
            <td><%= number_to_currency(order_detail.subtotal) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-lg-2 d-flex justify-content-end">
      <% @order_detail.each do |order_detail| %>
          <% order_detail.subtotal %>
          <% @total += order_detail.subtotal %>
      <% end %> 
      <table>
        <tr>
          <th>商品合計</th>
          <td class="text-right">&emsp;<%= number_to_currency(@total) %>円</td>
        </tr>
        <tr>
          <th>送料</th>
          <td class="text-right">
            &emsp;<%= @order.shipping_cost %>円
          </td>
        </tr>
        <tr>
          <th>請求金額</th>
          <td class="text-right">&emsp;<%= number_to_currency(@order.total_payment) %>円</td>
        </tr>
      </table>
    </div>
  </div>
</div>
