<div>
  <h2>ショッピングカート</h2>
  <p><%= link_to "カートを空にする", cart_items_destroy_all_path, method: :delete %></p>
</div>



<div>
  <table>
    <thead>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
      <th> </th>
    </thead>
    <tbody>
      <% @cart_items.each do |cart_items| %>
      <tr>
        <td><%= cart_items.item.name %></td>
        <td><%= cart_items.item.add_tax_price %></td>
        <td><%= cart_items.amount %></td>
        <td><%= cart_items.subtotal %></td>
        <td><%= link_to "削除する", cart_item_path(cart_items.id), method: :delete %></td>
        <% @total += cart_items.subtotal %>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div>
    <p><%= link_to "買い物を続ける", root_path %></p>
    <p>合計金額 <%= @total %></p>
  </div>
  <!--後でリンク作成-->
  <div><%= link_to "情報入力に進む", new_order_path %></div>
</div>

