<div>
  <div>
    <div>
      <h4>注文情報確認</h4>
    </div>
  </div>
  
  <div>
    <div>
      <table>
        <tr>
          <th>商品名</th>
          <th>単価(税込)</th>
          <th>数量</th>
          <th>小計</th>
        </tr>
        <% @cart_items.each do |cart_items| %>
        <tr>
          <td><%= cart_items.item.name %></td>
          <td><%= cart_items.item.add_tax_price %></td>
          <td><%= cart_items.amount %></td>
          <td><%= cart_items.subtotal %></td>
              <% @total += cart_items.subtotal %>
        </tr>
        <% end %>
      </table>
    </div>
    <div>
      <table>
        <tr>
          <th>送料</th>
          <% @order.shipping_cost = 800 %>
          <td><%= @order.shipping_cost %></td>
        </tr>
        <tr>
          <th>商品合計</th>
          <td><%= @total %></td>
        </tr>
        <tr>
          <th>請求金額</th>
          <% @order.total_payment = @order.shipping_cost + @total %>
          <td><%= @order.total_payment %></td>
        </tr>
        <tr>
          <th>支払方法</th>
          <td><%= @order.payment_method_i18n %></td>
        </tr>
        <tr>
          <th>お届け先</th>
          <td>
            <%= @order.postal_code %> 
            <%= @order.address %>
            <%= @order.name %>   
          </td>
        </tr>
      </table>
    </div>
    <div>
      <%= form_with model: @order, url: orders_path, method: :post do |f| %>
        <%= f.hidden_field :customer_id %>
        <%= f.hidden_field :shipping_cost %>
        <%= f.hidden_field :total_payment %>
        <%= f.hidden_field :payment_method %>
        <%= f.hidden_field :name %>
        <%= f.hidden_field :address %>
        <%= f.hidden_field :postal_code %>
        <%= f.submit "注文を確定する" %>
      <% end %>
    </div>
  </div>
</div>







