<div class="container mt-3">

  <div class="row">
    <h4>ログイン</h4>
  </div>


  <div class="row ml-2 my-3">
    <h5>会員の方はこちらからログイン</h5>
  </div>
  
  
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row mx-5 my-3">
    <div class="col-lg-9">
      <table class="table table-borderless table-sm">
        <tr>
          <th><%= f.label :email, 'メールアドレス' %></th>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email", size: 40 %></td>
        </tr>
        <tr>
          <th><%= f.label :password, 'パスワード' %></th>
          <td><%= f.password_field :password, autocomplete: "current-password", size: 40 %></td>
        </tr>
        <tr>
          <th></th>
          <td><%= f.submit "ログイン", class: 'btn btn-primary' %></td>
        </tr>
      </table>
    </div>
  </div>
  <% end %>
  
  <div class="row ml-2 my-3">
    <h5>会員登録がお済みでない方</h5>
  </div>
  
  <div class="row ml-4">
    <%= link_to "こちら", new_customer_registration_path %><span>から新規登録を行ってください。</span>
  </div>

</div>