<div>
  <div>
    <%= image_tag @item.get_image, size: "200x200" %>
  </div>
  <div>
     <p><%= @item.name %></p>
     <p><%= @item.introduction %></p>
     
     <p></p>
     <p>￥<%= @item.add_tax_price %>(税込)</p>
  </div>
  
  <!--@cart_item変数は、itemコントローラーのshowアクションに定義-->
  <%= form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>
    <%= f.label :amount, "個数選択" %>
    <%= f.select  :amount, *[1..10] %>
    <%= f.hidden_field :item_id, :value => @item.id %>
    <%= f.submit "カートに入れる" %>
  <% end %>
</div>